<%= @user.name %>, <%= @user.email %>


<h1>me</h1>
<img src="@user.email" class="img-responsive">
<%= link_to image_tag(".email") %>



































































